:root {
--eggshell: #EFEAD8;
--terracotta: #A75D5D;
--clay: #D3756B;
--tangerine: #F0997D;
--paleyellow: #FFC3A1;
}

* {
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--terracotta);
    color: var(--tangerine);
    transition: flex-basis 500ms linear;
}

header, footer {
    background-color: var(--clay);
    color: var(--paleyellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

header {
    font-size: 40px;
    height: 90vh;
}

nav {
    height: 10vh;
    width: 100vw;
    position: fixed;
    background-color: var(--paleyellow);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-flex;
    justify-content: center;
    color: var(--terracotta);
}

h1 {
justify-self: center;
margin-left: 10px;
margin-right: 5px;
}

main {
    display: flex;
    justify-content: flex-end;
}

p {
    font-size: 55px;

}

img {
    display: grid
    height: 200px;
    width: 200px;
}

form {
    background-color: var(--paleyellow);
    color: var(--terracotta);
    display: column;
}

footer {
    display: flex;
    font-size: 100px;
}

/* this will be the class to align the avatar icon in my header/splash. */
.avatar {}

.container {
    display: flex;
    flex-wrap: wrap;
}

.about-me, .my-work, .links, .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

.about-me {
    background-color: var(--eggshell);
    color: var(--terracotta);
}

.my-work {
    background-color: var(--terracotta);
    color: var(--paleyellow);
    display: flex;
    flex-wrap: wrap;
}

.links {
    background-color: var(--tangerine);
    color: var(--terracotta);
}

.contact {
    background-color: var(--paleyellow);
    color: var(--tangerine);
}

.card {
    flex: 1 0 100%;
    outline: 1px solid var(--eggshell);
}

.card-small {
    width: 50%;
    flex: 1 0 50%;
    border: 1px dashed var(--eggshell);
    
}

.card-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    color: var(--paleyellow);
    font-size: 50px;
}

.aloha{
    color: var(--eggshell);
    margin-left: 5px;
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    header, main {
        flex-direction: column;
    }

    div {
        flex-direction: column;
    }

}

@media screen and (max-width: 768px) {
    header, main {
        flex-direction: column;
    }

    div {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    header, main {
        flex-direction: column;
    }

    div {
        flex-direction: column;
    }
}